[run]
source = src
omit =
    src/tests/*       # Исключаем все файлы внутри директории tests
    */pycache/*   # Исключаем кэш байт-кода
    src/collected_data/* # Исключаем директорию с данными
    src/*.log         # Исключаем лог-файлы
    src/telegram_bot/*.log
    # Можно добавить другие файлы/директории, не содержащие код для покрытия
    # Например, если __init__.py пустые или только с импортами:
    # */__init__.py

[report]
# Показывать номера строк, не покрытых тестами
show_missing = True
# Опционально: установить минимальный порог покрытия. Если покрытие ниже, тесты "упадут".
# fail_under = 80